// VARIABLES

$primary: #198BFF;
$secondary: #8CBCFF;
$third: #EF853A;
$grey: #808187;


// MIXINS

.text-primary{
  color: $primary !important
};
.text-secondary{
  color: $secondary !important
};
.text-third{
  color: $third !important
};
.text-grey{
  color: $grey !important
};

// ANIMATIONS

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
