// VARIABLES

$primary: #1e3c4a;
$secondary: #6e9aac;
$third: #ffab40;
$grey: #808187;

// MIXINS
.full-height {
  height: 100vh;
}
.text-primary{
  color: $primary !important
};
.text-secondary{
  color: $secondary !important
};
.text-third{
  color: $third !important
};
.text-grey{
  color: $grey // Can't be !important because of adminCourse page items
};

.bg-primary{
  background-color: $primary !important
}
.bg-secondary{
  background-color: $secondary !important
}
.bg-third{
  background-color: $third !important
}
.bg-white {
  background-color: white !important
}
.bg-grey {
  background-color: $grey !important
}
.mx-25 {
  margin-left: 25%;
  margin-right: 25%;
}
.br-1 {
  border-radius: 1px;
}
.br-2 {
  border-radius: 3px;
}
.br-3 {
  border-radius: 5px;
}
.br-4 {
  border-radius: 10px;
}
.br-5 {
  border-radius: 25px;
}
.shadow-0 {
  box-shadow: none;
}
.shadow-1 {
  box-shadow: 0 4px 8px 0 rgba(82,97,115,0.18);
}
.disc{
  background: #fff;
  width: 10vw;
  height: 10vw;
  border-radius: 5vw;
  margin: auto;
}
.square {
    background: #fff;
    width: 10vw;
    height: 10vw;
}

.pointer {
  cursor: pointer;
}
// ANIMATIONS

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

// FONTS

h3{
  font-weight: normal;
}
.text-center {
  text-align: center;
}
